.home-inner {
    background-image: url(/householdAccountsSystem/img/login.jpg);
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 20%;
	z-index: 1;

}

.text {
	display: inline-block;
	text-align: left;
}

input {
	margin: 5px;
}
form {

}
.boxline {
	padding: 2em 1em;
	background: #ebebeb226226226;
	border: solid 1px #616060;
	border-radius: 10px;
}
.btn {
	background-color: #c7c7c7;
	color: rgb(255, 255, 255);
}
.btn:hover {
	background-color: #747577;
}